@font-face {
  font-family: 'AvertaBold';
  src: url("../fonts/averta-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/averta-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/averta-bold-webfont.woff2") format("woff2"), url("../fonts/averta-bold-webfont.woff") format("woff"), url("../fonts/averta-bold-webfont.ttf") format("truetype"), url("../fonts/averta-bold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: 'AvertaRegular';
  src: url("../fonts/averta-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/averta-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/averta-regular-webfont.woff2") format("woff2"), url("../fonts/averta-regular-webfont.woff") format("woff"), url("../fonts/averta-regular-webfont.ttf") format("truetype"), url("../fonts/averta-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

body {
  background: #F6F6F6;
  font-family: "AvertaRegular","Roboto", Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400; }

main {
  background: #222222; }

section p {
  max-width: 1600px;
  margin: 40px auto 80px;
  padding: 40px 0px;
  position: relative;
  background-color: #FFFFFF; }
  @media screen and (max-width: 860px) {
    section p {
      padding: 120px 8px 40px; } }

header {
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px; }

#header-wrapper {
  max-width: 1600px;
  margin: 0 auto; }

.fluid-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1600px;
  z-index: 20;
  background: #F6F6F6;
  height: 40px; }

.s-header {
  width: auto;
  padding: 0px;
  background: transparent;
  position: relative;
  z-index: 100;
  margin-top: 5px;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }
  .s-header ul.nav {
    background: transparent;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    font-size: 0; }
    @media screen and (max-width: 860px) {
      .s-header ul.nav {
        margin: 0px; } }
  .s-header ul.nav li {
    display: inline-block;
    padding: 0px; }
    @media screen and (max-width: 860px) {
      .s-header ul.nav li {
        display: block;
        margin: 0px;
        padding: 0px; } }
  .s-header ul li a {
    color: #000000;
    background: transparent;
    text-decoration: none;
    margin: 0px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 0px 2px;
    margin: 0px 8px; }
    .s-header ul li a:hover {
      color: #106ee8; }
    @media screen and (max-width: 860px) {
      .s-header ul li a {
        height: 60px;
        width: 100%;
        line-height: 58px;
        text-align: center;
        margin: 0px 0px;
        background: #FFFFFF;
        padding: 0px;
        font-size: 12pt;
        border-top: solid 1px gray; }
        .s-header ul li a:hover {
          color: #FFFFFF;
          background: #106ee8; } }

#logo {
  background-color: transparent;
  background-image: url("../img/smeyke-visuals-logo-vector.svg");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 28px;
  width: 200px;
  display: inline-block;
  margin: 8px 0px 0px 10px; }

#cptoggle {
  width: 28px;
  height: 30px;
  margin: 6px 8px 0px 12px;
  z-index: 80;
  display: inline-block;
  background: transparent;
  float: right;
  display: none; }
  #cptoggle:hover {
    cursor: pointer; }
  @media screen and (max-width: 860px) {
    #cptoggle {
      display: inline; } }

#cpmenu {
  background: transparent;
  padding: 0px;
  display: block;
  margin: 0px;
  position: relative;
  z-index: 40;
  display: inline-block;
  float: right;
  margin: 8px 0px 0px 12px; }
  @media screen and (max-width: 860px) {
    #cpmenu {
      display: none;
      float: none;
      padding: 0px;
      margin: 0px; } }

#cptoggle div {
  width: 100%;
  height: 4px;
  background: #062a59;
  margin: 4px auto;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: none; }
  @media screen and (max-width: 860px) {
    #cptoggle div {
      display: block; } }
  #cptoggle div:hover {
    background: #083571; }

#cptoggle.on .one {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px); }

#cptoggle.on .two {
  opacity: 0; }

#cptoggle.on .three {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px); }

#sv-grid-wrapper {
  max-width: 1600px;
  display: block;
  margin: 40px auto 0px;
  background: #333333; }

#sv-grid {
  background: green;
  float: left;
  width: 100%; }

.sv-grid-item {
  display: inline-block;
  width: calc(50% - 32px);
  min-height: 400px;
  background: red; }

#sv-grid-item-01 {
  margin: 16px; }

#sv-grid-item-02 {
  background-image: url("../img/foto-michael-weibel-fotograf-basel.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-margin: 16px; }

#sv-grid-item-03 {
  background-image: url("../img/portrait-michael-weibel-studio.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-margin: 16px; }

#sv-grid-item-04 {
  margin: 16px; }
